<!DOCTYPE html>
<html lang="ja" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/app.editor.css">
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-sanitize.min.js"></script>
    <script src="./lib/angular-resource.min.js"></script>
    <script src="./js/app.editor.js"></script>
    <title>SIT e-Sports Club | EDITOR</title>
</head>
<body>
    <div id="wrapper">
        <section id="activity-editor" ng-controller="activityEditorController as c">
            <h3>ACTIVITY EDITOR</h3>

            <div class="inner fit">
                <button ng-click="c.load()">LOAD &amp; INITIALIZE</button>
                <button ng-if="c.list" ng-click="c.download()">
                    <i class="fa fa-fw fa-download"></i>
                    <span>DOWNLOAD</span>
                </button>
            </div>

            <div class="inner fit">
                <button ng-if="c.list" ng-click="c.insertBefore(c,'list',c.create())">
                    <i class="fa fa-fw fa-plus"></i>
                    <span>ADD</span>
                </button>
            </div>

            <div class="inner">
                <article class="panel" ng-repeat="a in c.list track by $index">
                    <div class="panel-heading clickable" ng-click="a.toggle()">
                        <i class="fa fa-fw fa-caret-up" ng-if="a.isOpen()"></i>
                        <i class="fa fa-fw fa-caret-down" ng-if="a.isClose()"></i>
                        <span class="panel-title">{{a.data.title}} [{{a.data.date}}]</span>
                        <button class="delete" ng-click="c.delete(c.list,$index);$event.stopPropagation()">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>

                    <div class="list-group" ng-if="a.isOpen()">
                        <div class="list-group-item form-group">
                            <label>TITLE</label>
                            <input type="text" ng-model="a.data.title">
                        </div>

                        <div class="list-group-item form-group">
                            <label>DATE</label>
                            <input type="text" ng-model="a.data.date">
                        </div>

                        <div class="list-group-item form-group">
                            <label>DESCRIPTION</label>
                            <textarea rows="6" ng-model="a.data.description"></textarea>
                        </div>

                        <div class="list-group-item">
                            <label>LINKS</label>
                            <div class="form-group" ng-repeat="link in a.data.links track by $index">
                                <input type="text" ng-model="link[0]">
                                <input type="text" ng-model="link[1]">
                                <button ng-click="c.up(a.data.links,$index)">
                                    <i class="fa fa-fw fa-angle-up"></i>
                                </button>
                                <button ng-click="c.down(a.data.links,$index)">
                                    <i class="fa fa-fw fa-angle-down"></i>
                                </button>
                                <button ng-click="c.delete(a.data.links,$index)">
                                    <i class="fa fa-fw fa-times"></i>
                                </button>
                            </div>
                            <button ng-click="c.insertAfter(a.data,'links',[])">
                                <i class="fa fa-fw fa-plus"></i>
                                <span>ADD</span>
                            </button>
                        </div>

                        <div class="list-group-item">
                            <label>IMAGE FILENAME</label>
                            <div class="form-group" ng-repeat="filename in a.data.images track by $index">
                                <input type="text" ng-model="a.data.images[$index]">
                                <button ng-click="c.up(a.data.images,$index)">
                                    <i class="fa fa-fw fa-angle-up"></i>
                                </button>
                                <button ng-click="c.down(a.data.images,$index)">
                                    <i class="fa fa-fw fa-angle-down"></i>
                                </button>
                                <button ng-click="c.delete(a.data.images,$index)">
                                    <i class="fa fa-fw fa-times"></i>
                                </button>
                            </div>
                            <button ng-click="c.insertAfter(a.data,'images','')">
                                <i class="fa fa-fw fa-plus"></i>
                                <span>ADD</span>
                            </button>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <div class="lines"></div>

        <section id="member-editor" ng-controller="memberEditorController as c">
            <h3>MEMBER EDITOR</h3>

            <div class="inner fit">
                <button ng-click="c.load()">LOAD &amp; INITIALIZE</button>
                <button ng-if="c.list" ng-click="c.download()">
                    <i class="fa fa-fw fa-download"></i>
                    <span>DOWNLOAD</span>
                </button>
            </div>

            <div class="inner fit">
                <button ng-if="c.list" ng-click="c.insertBefore(c,'list',c.create())">
                    <i class="fa fa-fw fa-plus"></i>
                    <span>ADD</span>
                </button>
            </div>

            <div class="inner">
                <article class="panel" ng-repeat="a in c.list track by $index">
                    <div class="panel-heading clickable" ng-click="a.toggle()">
                        <i class="fa fa-fw fa-caret-up" ng-if="a.isOpen()"></i>
                        <i class="fa fa-fw fa-caret-down" ng-if="a.isClose()"></i>
                        <span class="panel-title">{{a.data.name}}</span>
                        <button class="delete" ng-click="c.delete(c.list,$index);$event.stopPropagation()">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>

                    <div class="list-group" ng-if="a.isOpen()">
                        <div class="list-group-item form-group">
                            <label>NAME</label>
                            <input type="text" ng-model="a.data.name">
                        </div>

                        <div class="list-group-item">
                            <label>PLAYING</label>
                            <div class="form-group" ng-repeat="title in a.data.playing track by $index">
                                <input type="text" ng-model="a.data.playing[$index]">
                                <button ng-click="c.up(a.data.playing,$index)"><i class="fa fa-fw fa-angle-up"></i></button>
                                <button ng-click="c.down(a.data.playing,$index)"><i class="fa fa-fw fa-angle-down"></i></button>
                                <button ng-click="c.delete(a.data.playing,$index)"><i class="fa fa-fw fa-times"></i></button>
                            </div>
                            <button ng-click="c.insertAfter(a.data,'playing','')">
                                <i class="fa fa-fw fa-plus"></i>
                                <span>ADD</span>
                            </button>
                        </div>

                        <div class="list-group-item form-group">
                            <label>TWITTER</label>
                            <input type="text" ng-model="a.data.twitter">
                        </div>

                        <div class="list-group-item">
                            <label>DATA</label>
                            <div class="form-group" ng-repeat="data in a.data.data track by $index">
                                <input type="text" ng-model="data[0]">
                                <input type="text" ng-model="data[1]">
                                <button ng-click="c.up(a.data,$index)"><i class="fa fa-fw fa-angle-up"></i></button>
                                <button ng-click="c.down(a.data,$index)"><i class="fa fa-fw fa-angle-down"></i></button>
                                <button ng-click="c.delete(a.data,$index)"><i class="fa fa-fw fa-times"></i></button>
                            </div>
                            <button ng-click="c.insertAfter(a.data,'data',[])">
                                <i class="fa fa-fw fa-plus"></i>
                                <span>ADD</span>
                            </button>
                        </div>

                        <div class="list-group-item form-group">
                            <label>COMMENT</label>
                            <input type="text" ng-model="a.data.comment">
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</body>
</html>
