@import "_import.scss";

.panel {
    background-color: $light;
    color: $dark;
    box-shadow: 0 0 10px $light;
    margin: 2rem 0;
    border-radius: 5px;

    .panel-title {
        font-weight: bold;
    }

    .panel-heading,
    .panel-body,
    .list-group .list-group-item,
    .panel-footer {
        padding: 1rem;
    }

    .panel-heading ~ .panel-body,
    .panel-heading ~ .list-group,
    .panel-body ~ .panel-footer,
    .list-group ~ .panel-footer,
    .list-group .list-group-item:not(:first-child) {
        border-top: 1px solid $gray;
    }

    .panel-heading {
        .delete {
            float: right;
        }

        @include clearfix;
    }
}

.clickable {
    cursor: pointer;
}

input[type~="text"], textarea {
    width: 100%;
    border: 1px solid $gray;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.3em;
}

.form-group {
    display: flex;
    align-items: center;

    > * {
        flex: 0 0 auto;
    }

    > input, > textarea {
        flex: 1 1 100%;
    }

    label {
        padding-right: 1rem;
    }
}

button {
    border: 1px solid $dark;
    border-radius: 5px;
    background-color: $light;
    color: $dark;
    padding: 0.5rem;
    cursor: pointer;
    transition: $transition;

    &:hover {
        box-shadow: inset 0 0 5px $dark;
    }
}
