@import "_import.scss";

section {
    h3 {
        text-align: center;
    }

    .inner {
        margin: 0 auto;
        padding: 1rem;
        width: 90%;

        &.fit {
            width: auto;
            max-width: 90%;
            display: table;
        }
    }

    .text-center {
        text-align: center;
    }
}
