@import "_import.scss";

section#member {
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article {
            width: 200px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0 0 5px $light;
            margin: 5px;
            word-wrap: break-word;
            position: relative;

            img {
                width: 100%;
                vertical-align: bottom;
                border: none;
            }

            h4 {
                opacity: 1.0;
                transition: $transition;

                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                margin: 0;
                background-color: $light;
                color: $dark;
            }

            &:not(:hover) h4 {
                opacity: 0;
            }
        }
    }
}
