@import "_import.scss";

section#member {
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article {
            width: 200px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0 0 5px $light;
            margin: 5px;
            word-wrap: break-word;

            img {
                width: 100%;
                vertical-align: bottom;
                border: none;
            }
        }
    }
}
