@import "_import.scss";

section#member {
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article {
            margin: 5px;
            word-wrap: break-word;
            position: relative;

            .thumb {
                overflow: hidden;
                width: 200px;
                height: 200px;
                cursor: pointer;
                box-shadow: 0 0 5px $light;
                transition: $transition;

                &:hover {
                    box-shadow: 0 0 10px $light;
                }

                img {
                    width: 100%;
                    vertical-align: bottom;
                    border: none;
                }

                h4 {
                    opacity: 1.0;
                    transition: $transition;

                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    background-color: $light;
                    color: $dark;
                }

                &:not(:hover) h4 {
                    opacity: 0;
                }
            }


            .backdrop {
                position: fixed;
                top: 0;
                left: 0;
                min-width: 100vw;
                min-height: 100vh;
                background-color: rgba( 0, 0, 0, 0.7 );

                opacity: 1;
                z-index: 10;
                transition: $transition;

                &:not(.show) {
                    z-index: -1;
                    opacity: 0;
                }


            }
        }
    }
}

.modal-content {
    padding: 1rem;
    background-color: $light;
    box-shadow: 0 0 5px $light;
    color: $dark;

    .close {
        float: none;
        text-align: right;

        a {
            background-color: $dark;
            color: $light;
        }
    }

    .name {
        text-align: center;

        * {
            margin-top: 0;
        }
    }

    .image {
        img {
            width: 100%;
            max-width: 100px;
            margin: 0 auto;
            display: block;
        }
    }

    table {
        margin: 1rem auto;

        td {
            padding: 0.3rem 0;
        }

        tr > td:first-child {
            text-align: right;
            padding-right: 1em;
        }

        a {
            color: $dark;

            &:hover {
                color: $dark;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .comment {
        text-align: center;
    }
}
