extends _layout
block var
    - page.name = 'index'
    - page.title = 'TOP'
block contents
    div.lines
    section#about
        h3 ABOUT
        div.inner
            p 芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。芝浦工業大学非公式サークル。
            p LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。LoL学生大会に参加。
    div.lines
    section#news
        h3 WHAT'S NEW
        div.inner.fit
            article
                h4 部員募集中！
                p LoLプレイヤー募集中！
                p メンバー一覧は<a href="/member.html">こちら</a>
    div.lines
    section#contact
        h3 CONTACT
        div.inner.fit
            p 入部希望やお問い合わせは、以下のメールアドレスもしくは公式Twitterアカウントまで！
            p.text-center sitesportsclub@gmail.com
        div.inner.fit <a class="twitter-timeline" href="https://twitter.com/sitesportsclub" data-widget-id="733916792263843840">@sitesportsclubさんのツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    div.lines
