extends _layout
block var
    - page.name = 'member'
    - page.title = 'MEMBER'
block contents
    div.lines
    section#member(ng-controller="memberController as c")
        h3 MEMBER
        div.inner
            article(ng-repeat="a in c.list")
                img(ng-src="{{a.image[0] || 'img/noimg.png'}}")
                // hover -> tooltop(name)
                // click -> modal(detail)
    div.lines
